# App
PROJECT_NAME="Sync Without Signal BE"
ENVIRONMENT="development"          # development | staging | production
PORT=3000
API_PREFIX="/api/v1"
CORS_ORIGINS="*"

# Auth
JWT_SECRET="your-super-secret-jwt-key-change-this"
JWT_EXPIRATION_TIME="1d"

# Database Connection
# ------------------------------------------------------------------------------
# 1. Supabase / Cloud Postgres (Default)
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# 2. Local Docker Postgres (Gunakan ini jika menjalankan docker-compose up -d)
# DATABASE_URL="postgresql://postgres:kpos-secret@localhost:5432/kpos_db?schema=public"

# Sync Configuration
MAX_OFFLINE_SYNC_DELAY_MINUTES=1440

# Message Queue
# ------------------------------------------------------------------------------
# 1. CloudAMQP (Cloud)
RABBITMQ_URL="amqps://[USER]:[PASSWORD]@chimpanzee.rmq.cloudamqp.com/[VHOST]"

# 2. Local Docker RabbitMQ (Gunakan ini jika menjalankan docker-compose up -d)
# RABBITMQ_URL="amqp://guest:guest@localhost:5672"
